 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1537px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 919px;
  margin: 28px auto 16px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 683px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-1 .u-image-1 {
  width: 552px;
  height: 659px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
  object-position: 46.8% 0%;
  background-position: 46.8% 100%;
  margin: 22px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 877px;
}

.u-section-1 .u-container-layout-2 {
  padding: 75px 40px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 6px 685px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  margin-top: 0;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 22px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 273px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1516px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 783px;
    margin-top: 22px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 12px;
    margin-right: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 616px;
    margin-bottom: 33px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-1 .u-image-1 {
    height: 671px;
    width: 565px;
    margin-top: 16px;
    margin-right: 14px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-right: 506px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 6px;
    margin-left: -6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 490px;
    margin-top: 49px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-1 .u-image-1 {
    width: 430px;
    height: 471px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
    margin-right: 366px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 276px;
    margin-top: 28px;
    margin-bottom: 16px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-1 .u-image-1 {
    height: 293px;
    width: 256px;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 15px 10px 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 166px;
    margin-left: -42px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 11px;
    margin-left: -42px;
    margin-right: -42px;
  }
}